.create-beans-outer::before {
  width: 20px;
  height: 20px;
  /* content: '\219 \219 \219 \219 \219'; */
  content: url('../public/bean-small.svg');
  filter: invert(96%) sepia(7%) saturate(2145%) hue-rotate(9deg) brightness(88%) contrast(81%);
  /* HEX: #c5c983*/

}

.create-beans-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  /* width:25%; */
}