@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&display=swap');

html, body, p, div, h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color:gray ;
  color: black;
}

a {
 color:black;
}

.seach {
  margin: auto;
  width: 100%;
}

.navbar {
  justify-content: center;
}

header li {
  display: inline-block;
  padding-right: 10px;
}

footer {
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

.beans-outer{
  display: inline-block;
  position: relative;
}

.beans-outer::before {
  width: 20px;
  height: 20px;
  content: url('../public/bean-small.svg') url('../public/bean-small.svg') url('../public/bean-small.svg') url('../public/bean-small.svg') url('../public/bean-small.svg');
  filter: invert(96%) sepia(7%) saturate(2145%) hue-rotate(9deg) brightness(88%) contrast(81%);
  /* HEX: #c5c983*/

}

.beans-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  /* width:25%; */
}

.beans-inner::before {
  content: url('../public/bean-small.svg') url('../public/bean-small.svg') url('../public/bean-small.svg') url('../public/bean-small.svg') url('../public/bean-small.svg');

 filter: invert(22%) sepia(39%) saturate(718%) hue-rotate(331deg) brightness(101%) contrast(87%);
 /* HEX: 6b3e2e */

}




