

.container {
  max-width: 375px;
  padding: 20px 0px;
  margin: 0px auto;
  background-color:white;
  text-align: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

