.lightMode {
  color: black;
  background-color: #ffffff;
  /* background: url('../public/bg-light.jpeg') no-repeat top;
   background-size: cover; */
}
.lightMode .login-page {
  background: none;
}
.lightMode header {
  background: linear-gradient(#FFF, #fff5d5);
  padding: 30px;
  box-shadow: 0px 1px 10px 0px rgba(94, 74, 74, 0.15);
}
.lightMode .btn {
  border: 1px solid #d5d5d5;
  background-color: #a57c52;
}
.lightMode #nav .logo {
  border: 1px solid #a57c52;
  box-shadow: 1px 1px 5px 1px #c9b8b8;
}
.lightMode .title {
  background: url('../public/icon-gold.svg') no-repeat left;
  background-size: 26px;
}
.lightMode .card {
  color: #0D0401;
  border: 1px solid #440C04;
  background-color: rgba(255, 255, 240, 0.6);
}
.lightMode .card a {
  color: #0D0401;
}
.lightMode .btn-google, .lightMode .facebook-btn {
  background-color: #B61C07;
}
.lightMode .login-page {
  /* background: url('../public/bg-light.jpeg') no-repeat bottom;
   background-size: cover; */
}
.lightMode footer {
  color: white;
}
