.iw-name {
  font-size: large;
}
.iw-open .dot {
  background-color: green;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.iw-closed .dot {
  background-color: red;
}
.info-window :hover {
  cursor: pointer;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background-color: #440C04;
  color: white;
}

.desktop-search {
  display: grid;
  grid-template-columns: 37% 3% 60%;
  grid-template-rows: 70vh;
}
.desktop-map {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.desktop-map #map {
  width: 104%;
  min-height: 100%;
}
.desktop-list {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow-y: scroll;
  scrollbar-width: 0;
}
.desktop-list::-webkit-scrollbar {
  display: none;
}