#reviews {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
#gi-coffee-beans-icon {
  font-size: 15px;
}
#reviews-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

#review {
  border: 1px solid black;
  border-radius: 4px;
  min-width: 350px;
  max-width: 350px;
  margin: 5px;
  padding: 5px;
}

/* reviewer info */
#review-user-info {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}
#review-user-info-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* #reviewer-photo {
  width: 25px;
  height: 25px;
  border-radius: 12px;
} */
#reviewer-first-name {
  margin-left: 10px;
  font-size: 12px;
}
#reviewer-date {
  font-size: 12px;
  margin-right: 5px;
}

/* center body for review */
#review-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
}
#review-title {
  font-size: 14px;
}
#review-body {
  font-size: 13px;
}

/* review buttons */
#review-btns {
  display: flex;
  justify-content: flex-end;
}
#helpful-btn {
  margin-right: 10px;
  font-size: 20px;
  height: 25px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* border-radius: 12px; */
}
#report-btn {
  margin-right: 5px;
  font-size: 20px;
  height: 25px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* review bean rating */
#review-beans-outer {
  display: inline-block;
  position: relative;
}
#review-beans-outer::before {
  width: 16px;
  height: 16px;
  content: url("../public/bean-xsmall.svg") url("../public/bean-xsmall.svg")
    url("../public/bean-xsmall.svg") url("../public/bean-xsmall.svg")
    url("../public/bean-xsmall.svg");
  filter: invert(96%) sepia(7%) saturate(2145%) hue-rotate(9deg) brightness(88%)
    contrast(81%);
}
#review-beans-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  /* width:25%; */
}
#review-beans-inner::before {
  content: url("../public/bean-xsmall.svg") url("../public/bean-xsmall.svg")
    url("../public/bean-xsmall.svg") url("../public/bean-xsmall.svg")
    url("../public/bean-xsmall.svg");
  filter: invert(22%) sepia(39%) saturate(718%) hue-rotate(331deg)
    brightness(101%) contrast(87%);
}
